body {
  overflow-x: hidden;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

img {
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-menu-container {
  display: none;
}

.fa-circle {
  color: $sunny-yellow;
  vertical-align: left;
}

.fa-stack {
  width: 14.5rem;
}