@media (max-width: 680px) {
  .header-nav {
    display: none;
  }
  .fa-bars {
    display: block;
    color: $off-white;
    margin: 2rem;
    font-size: 3rem;
  }
  .mobile-menu-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
  }
  h1 {
    font-size: 5.3rem;
    margin: 1.67rem;
  }
  .about  {
    padding: 3rem 0;
  }
  .explore-container {
    flex-direction: column;
  }

  .plants-container {
    flex-direction: column;
  }
  .plants-container-text-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 0;
  }
  .workshops-container-text-box {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .highlights {
    padding: 0;
  }
  .highlights-container {
    flex-direction: column;
  }
  .info-block {
    width: 100%;
  }
  .icon-container {
    padding: 1rem 1rem;
  }
  .info-block-text-container {
    padding: 1rem 0;
  }
  .block3,
  .block4 {
    display: none;
  }
  .founder-container {
    flex-direction: column;
    padding: 2rem 0;
  }
  .founder-image-container {
    padding: 2rem;
  }
  .founder-text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }
  .gallery {
    padding: 0;
  }
  .gallery-container li:nth-child(2) {
    display: none;
  }
  // ************************
  // Blog Page Styling
  // ************************
  .blog-page-header {
    height: 40vh;
  }
  .blog-page-header h1 {
    text-align: center;
  }
  aside {
    display: none;
  }
  .mission {
    width: 100%;
    padding: 2rem;
  }
  .mission-image-container {
    margin-bottom: 2rem;
  }
  .comment-container {
    width: 100%;
    padding: 0 2rem;
  }
  .comment-image-container {
    width: 25%;
  }
  .form-container {
    width: 100%;
    padding: 0 2rem;
  }
  .post-comment {
    padding: 0; 
  }
  .post-comment input {
    width: 100%;
    margin: 1rem 0rem;
    background-color: $off-white;
  }
  // ************************
  // Contact Page Styling
  // ************************
  
}
