@media (max-width: 480px) {
  .fa-bars {
    font-size: 2rem;
  }
  h1 {
    font-size: 4.3rem;
  }
  h3 {
    font-size: 2.2rem;
  }
  h5 {
    font-size: 1.75rem;
    text-align: center;
  }
  .about p {
    width: 100%;
    text-align: left;
    padding: .25rem;
  }
  .highlights-container {
    padding: 0;
  }
  .founder-text-container {
    padding: 0;
  }
  .comment-box {
    flex-direction: column;
  }
  .comment-image-container {
    width: 50%;
    margin: 0 auto;
  }
  .comment-text-container {
    width: 100%;
    padding: 0;
  }
  .contact-page-header-container h1 {
    margin: 0 auto;
  }
}